{{ define "main" }}
<main id="stats" class="o-main">
    <h1>{{ .Title }}</h1>
    {{ .Content}}
    <canvas id="ping-chart"></canvas>
</main>
<script src="/js/chart.min.js"></script>
<script>
    window.onload = function () {
        const pingChartCanvas = document.getElementById('ping-chart');
        apiClient.getDataForChart().then(res => {
            console.log(res)
            let dataForChart = res.data;
            const pingChart = new Chart(
                pingChartCanvas,
                {
                    type: 'line',
                    data: dataForChart,
                }
            );
        });
    }
</script>
{{ end }}